html {
  --bgcolor: #ddd;
  --max-width: 800px;
  background-color: var(--bgcolor);
}
body {
  max-width: var(--max-width);
  margin: 0;
  padding-top: 150px;
  margin: auto;
  position: relative;
}

:not(:defined) {
  display: none !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: .5em;
}

pre {
  font-size: inherit;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
